.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-style: normal;
}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.btn-primary{
    background-color: #4E47FF;
    border:none;
    border-radius: 10px;
    color:#FFFFFF;
    padding: 12px 36px;
    font-size: 16;
    gap: 10px;
    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

}

.banner-content{
    text-align: center;
    
}

.nav-title{
    color:#4E47FF ;
    font-size: 34px;
    font-weight:1000;
    margin:0
    
}
.banner h1{
    font-size: 36px;
   font-weight:bolder;
   margin-top: 140px;
}
 
.header{
  background-image: url('../Assets/Hero-bg.png'); 
   background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0px;
  max-width: 1440px;
  max-height: 698px;
  
}
